.calculator {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.calc-row {
  background-color: rgb(221, 216, 216);
  display: flex;
}

.calc-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  vertical-align: baseline;
}

.calc-btn:hover {
  background-color: rgb(203, 203, 203);
}

.calc-row-display {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
}
.calc-display {
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.number-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  vertical-align: baseline;
}

.number-btn:hover {
  background-color: rgb(203, 203, 203);
}
.ar-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  vertical-align: baseline;
}

.ar-btn:hover {
  background-color: rgb(203, 203, 203);
}

.secondary-display {
  font-size: 2rem;
  color: gray;
}

.unactive {
  cursor: default;
  color: rgb(164, 161, 161);
}
.unactive:hover {
  background-color: white;
}

.pos-neg-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  vertical-align: baseline;
}

.pos-neg-btn:hover {
  background-color: rgb(203, 203, 203);
}

.dot-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  vertical-align: baseline;
}

.dot-btn:hover {
  background-color: rgb(203, 203, 203);
}
